@charset "UTF-8";

.form-filtro {
	display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 15px;
  background: #F5F5F5;
  max-width: 100%;
  flex-wrap: wrap;
}

.form-filtro label {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.form-filtro span {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.form-filtro input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
  margin-bottom: 0px;
}

.form-filtro button {
  padding: 8px 20px;
  background-color: #006837;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  height: 35px;
}

.form-filtro button:hover {
  background-color: #45a049;
}

.status-checkbox{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.status-checkbox div{
	display: flex;
	justify-content: center;
}

.escolhas-checkbox{
	display: flex;
	flex-direction: row;
	align-content: space-around;
	gap: 15px;
}

.escolha{
	display: flex;
	gap: 3px;
}